@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: #3d2f24 url(images/bg_dark_l.jpg) repeat 0 0;
    font-weight: 300;
}
a {
    color: #333;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
img{
    border: 0;
    vertical-align: middle;
}
input {
    outline: none;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 400;
    text-decoration:
        none;
}
h1{font-size: 130%;}
h2{font-size: 120%;}
h3{font-size: 110%;}
h4{font-size: 100%;}
h5{font-size: 90%;}
h6{font-size: 80%;}

.center {
    text-align: center;
}

/* NAVIGATION */

.nav {
    background: #ddd;
    border-bottom: solid 1px #8c976d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.nav h1 {
    color: #899963;
    font-size: 23px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}
.nav a.back {
    color: #555;
    font-size: 30px;
    position: absolute;
    top: 9px;
    left: 15px;
    text-decoration: none;
}
.nav span {
    position: absolute;
    top: 5px;
    right: 16px;
    cursor: pointer;
    padding: 6px 6px 2px;
}
.nav span:hover {
    box-shadow: inset 0 0 5px #333;
    border-radius: 5px;
}
.nav span i {
    display: block; width: 25px;
    height: 2px;
    background: #372a21;
    margin-bottom: 4px;
    box-shadow: 1px 1px 0 #bababa;
}
/* LIST'S */
.content{
    position: relative;
    margin: 50px 0 26px 0;
}

.item{
    background: rgba(0,0,0, 0.5);
}
#main, #left{
    height: 100%;
    overflow: scroll;
}


#left{
    display: none;
    position: relative;

}


.feed-list {
    border-top: solid 1px #ececec;
}
.feed-list>li {
    padding: 13px 0 0;
}
.feed-list>li:nth-child(odd) {
    background: rgba(0,0,0,0.6);
}
.feed-list .feed-item-info {
    position: relative;
    margin: 0 13px;
}
.feed-list .feed-item-info>a>img {
    width: 133px;
    height: 133px;
    position: absolute;
    top: 0;
    left: 0;
}
.feed-list .feed-item-instant {
    font-size: 9px;
    line-height: 13px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 7px 0 20px;
    width: 106px;
    background: rgba(0,0,0,0.5) url(images/instant.png) no-repeat 7px 50%;
}
.feed-list .feed-item-time {
    font-size: 9px;
    line-height: 13px;
    display: block;
    position: absolute;
    top: 118px;
    left: 0;
    padding: 2px 7px 0;
    width: 119px;
    background: rgba(0,0,0,0.5);
}
.feed-list .feed-item-info h5 {
    color: #cfee5b;
    font-size: 18px;
    line-height: 18px;
    padding: 0 0 3px 154px;
}
.feed-list .feed-item-descr {
    font-size: 11px;
    line-height: 13px;
    height: 41px;
    padding: 0 20px 0 154px;
    overflow: hidden;
}
.feed-list .feed-item-imdb {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 26px;
    background: url(images/imdb.png) no-repeat 0 0;
}
.feed-list .feed-item-rating {
    display: block;
    position: absolute;
    top: 62px;
    right: 0;
    width: 74px;
    height: 13px;
    background: url(images/rating.png) no-repeat 0 0;
}
.feed-list .feed-item-rating span {
    display: block;
    width: 74px;
    height: 13px;
    background: url(images/rating.png) no-repeat 0 -13px;
}
.feed-list .feed-item-author-info {
    color: #fff;
    font-size: 11px;
    position: relative;
    margin: 0 0 0 154px;
    padding: 0 0 0 85px;
    height: 69px;
    overflow: hidden;
    border-bottom: solid 2px #fff;
}
.feed-list .feed-item-author {
    font-size: 16px;
}
.feed-list .feed-item-author-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 71px;
    height: 69px;
}
.feed-list .feed-item-date {
    color: #96928f;
    font-size: 11px;
    line-height: 20px;
    display: block;
}

.feed-list .feed-item-bottom {
    font-size: 11px;
    line-height: 22px;
    margin: 0 -13px;
    padding: 0 13px;
    background: #efefef;
    color: #372a21;
}

.feed-list .feed-item-bottom-right {
    float: right;
}
.feed-list .feed-item-icon-likes {
    padding: 2px 0 0 18px;
    margin-right: 8px;
    background: url(images/icon-likes.png) no-repeat 0 -36px;
}
.feed-list .feed-item-icon-comments {
    padding: 0 0 0 22px;
    background: url(images/icon-comments.png) no-repeat 0 -37px;
}


.feed-item-comments {
    display: none;
    padding: 0 0 5px;
}
.feed-item-comment {
    font-size: 12px;
    min-height: 42px;
    background: rgba(0,0,0,0.6);
    margin-top: 4px;
    position: relative;
    padding: 10px 0 10px 100px;
}
.feed-item-comment img {
    width: 60px;
    height: 60px;
    border: solid 1px #fff;
    position: absolute;
    top: 0; left: 0;
}
.feed-item-comment h6 {
    font-size: 18px;
}
.feed-item-comment-answer {
    margin-left: 30px;
}



#footer{
    position: fixed;
    background:#efefef ;
    height: 26px;
    bottom: 0;
    width: 100%;
}
@media only screen and (min-width: 920px) {
    #left{
        display: block;
        width: 43.75%;
        float: left;
        border-top: solid 1px #ececec;
    }
        #left .item{
            float: left;
            width: 48%;
            height: 180px;
            margin: 0 2px 2px 0;
            background: rgba(0,0,0,0.6);
            
        }


    #left .feed-item-info {
        position: relative;
        margin: 0 0 0 13px;
    }
    #left .feed-item-info>a>img {
        width: 133px;
        height: 133px;
        position: absolute;
        top: 0;
        left: 0;
    }
    #left .feed-item-instant {
        font-size: 12px;
        line-height: 13px;
        display: block;
        position: absolute;
        top: 50px;
        right: 60px;
        padding: 2px 7px 0 20px;
        background: url(images/instant.png) no-repeat 7px 50%;
    }
    #left .feed-item-time {
        font-size: 12px;
        line-height: 13px;
        display: block;
        position: absolute;
        top: 50px;
        right: 7px;
        padding: 2px 7px 0;
    }
    #left .feed-item-info h5 {
        color: #cfee5b;
        font-size: 18px;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        width: 235px;
        text-overflow: ellipsis;
        position: absolute;
        top: 150px;
        left: 0px;
    }
    #left .feed-item-descr {
        display: none;
    }
    #left .feed-item-imdb {
        color: #fff;
        font-size: 13px;
        line-height: 16px;
        position: absolute;
        top: 90px; right: 15px;
        padding: 0 0 0 26px;
        background: url(images/imdb.png) no-repeat 0 0;
    }
    #left .feed-item-rating {
        display: block;
        position: absolute;
        top: 32px;
        right: 15px;
        width: 74px;
        height: 13px;
        background: url(images/rating.png) no-repeat 0 0;
    }
    #left .feed-item-rating span {
        display: block;
        width: 74px;
        height: 13px;
        background: url(images/rating.png) no-repeat 0 -13px;
    }
    #left .feed-item-author-info {
        color: #fff;
        font-size: 11px;
        height: 115px;
        margin: 0 0 5px;
        overflow: hidden;
        border-bottom: solid 3px #aabc7b;
    }


    #left .feed-item-author {
        font-size: 14px;
        font-weight: 100;
        position: absolute;
        top: 127px;
        left: 0;
    }
    #left .feed-item-author-photo {
        position: absolute;
        left: 0;
        top: 15px;
        width: 90px;
        height: 90px;
    }
    #left .feed-item-date {
        color: #96928f;
        font-size: 11px;
        line-height: 20px;
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    #left .feed-item-bottom {
        font-size: 11px;
        line-height: 22px;
        margin: 0 0;
        padding: 0 13px;
    }

    #left .feed-item-bottom:hover {
        color: #fff;
        background: transparent;
    }
    #left .feed-item-bottom-right {
        float: right;
    }

    #left .feed-item-icon-likes {
        padding: 2px 0 0 18px;
        margin-right: 8px;
        background: url(images/icon-likes.png) no-repeat 0 0;
    }
    #left .feed-item-bottom:hover .feed-item-icon-likes {
        background-position: 0 0;
    }
    #left .feed-item-icon-comments {
        padding: 0 0 0 22px;
        background: url(images/icon-comments.png) no-repeat 0 0;
    }
    #left .feed-item-bottom:hover .feed-item-icon-comments {
        background-position: 0 0;
    }


    #left .feed-item-comments,   #left .feed-item-bottom>span, #left .feed-item-author-info>div {
        display: none !important;
    }



    #main{
        float: left;
        width: 56.25%;
    }

}


